$purple: rgb(182, 98, 160);
$purpleDark: rba(154, 78, 140);
$yellow: rgb(255, 202, 96);
$yellowDark: rgb(248, 174, 77);
$blue: rgb(75, 136, 190);
$blueLight: rgb(131, 193, 242);
$ebonyLight: #5d675b;
$ebony: #254441;
$black: #0a0908;
$white: #f6f2ff;
$red: rgb(208, 55, 73);
