.home {
    display: grid;
    grid-template-areas: "content graphics";
    grid-template-columns: 1.5fr 2fr;
}

.content {
    grid-area: content;
    width: 100%;
    display: grid;
    text-align: justify;
    padding: 50px 15% 0 15%;

    h1 {
        text-align: left;
        margin-bottom: 10px;
    }

    p {
        text-indent: 10%;
    }
}

.graphic {
    grid-area: graphics;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;

    img{
        margin: 0 auto;
        width: 80%;
    }
}

.unprotectedText{
    margin-top: 50px;
    P{
        text-indent: 0;
        width: 50%;
    }
}

.centered{
    margin-top: 50px;
    display: grid;
    justify-content: center;
}