.map {
    margin: 0 auto;
    width: 1200px;
}

a {
    &:hover ~ .label {
        opacity: 1;
        visibility: visible;
    }
}

img {
    cursor: pointer;
}

.label {
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    display: table;
}

input[type="range"] {
    width: 950px;
}

.changeHomeModal {
    width: 350px;
    height: 200px;
    background-color: #c4cbca;
    text-align: center;
    display: grid;
    align-items: center;

    Button {
        padding: 5px;
        filter: brightness(90%);
        width: 100px;
        margin: 0 auto;
        display: inline;
        margin: 5px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9ca1a0;
    border-radius: 10px;
}

.navigation{
    margin-top: 10px;
}

select {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1px 1px 1px 5px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    line-height: inherit;
    width: 100px;
    margin-left: 10px;
    outline: none;

    &:hover{
        opacity: 0.5;
    }
  }