@import "styles/palette";

.navbar {
    width: 100%;
    height: 80px;
    display: grid;
    align-items: center;
    font-weight: 900;

    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;

        a {
            color: black;

            &:hover {
                color: $red;
            }
        }
    }

    ul:first-child {
        margin-left: 50px;
    }
}
