a {
    &:hover ~ .label {
        opacity: 1;
        visibility: visible;
    }
}

img {
    cursor: pointer;
}

.label {
    font-size: 15px;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    display: table;
}
